{% if page.fileSlug == "Galeria de Documentos" %}

<h2>All Files Debug Dump</h2>

<ul>
  {% for file in files %}
    <li>
      <strong>{{ file.name }}</strong> - {{ file.path }}
      <pre>{{ file | dump }}</pre>
    </li>
  {% endfor %}
</ul>

{% endif %}
