<div class="welcome-message">Bem-vindo à Wiki do Mundo de Orneu!</div>

<style>

  
@import url('https://fonts.googleapis.com/css?family=Eczar');

  .welcome-message {
    text-align: center;
    font-size: 2rem;
    font-family: 'Eczar', serif;
    margin-bottom: 2rem;
    color: #C14343;
  }

</style>
