{% macro menuItem(name, node, step = 0, currentPath = "") %}
  {% if node.isNote and not node.hide %}
    <div class="note-item" style="margin-left: {{ step * 1.5 }}rem;">
      <a href="{{ node.permalink }}">{{ node.name }}</a>
    </div>
  {% elif node.isFolder %}
    <div class="folder-item folder-{{ name | lower | replace(' ', '-') }}" x-data="{ open: false }">
      <div @click="open = !open" class="folder-header">
        <div class="folder-icon"></div>
        <span x-text="open ? '▼' : '▶'"></span>
        <span class="folder-title">{{ name }}</span>
      </div>
      <div x-show="open" class="folder-children">
        {% for childName, childNode in node %}
          {% if childName not in ['isNote', 'isFolder', 'hide', 'name', 'permalink', 'noteIcon', 'pinned'] %}
            {{ menuItem(childName, childNode, step + 1, currentPath + '/' + childName) }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

<div x-data class="folder-grid">
  {% for key, node in filetree.Orneu %}
    {{ menuItem(key, node) }}
  {% endfor %}
</div>

<style>
  .folder-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .note-item a {
    text-decoration: none;
  }

  .folder-item {
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 0.5rem;
    background: #f8f8f8;
  }

  .folder-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .folder-icon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 0.25rem;
  }

  .folder-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.25rem;
  }

  .folder-children {
    margin-top: 0.5rem;
    padding-left: 1rem;
  }

  /* Folder-specific icons from URLs */

  .folder-grupos-notáveis .folder-icon {
    background-image: url('https://www.svgrepo.com/show/501214/group.svg');
  }

  .folder-itens .folder-icon {
    background-image: url('https://www.svgrepo.com/show/440552/item-storage-search.svg');
  }

  .folder-localizações .folder-icon {
    background-image: url('https://www.svgrepo.com/show/438256/world-round.svg');
  }

  .folder-mapas .folder-icon {
    background-image: url('https://www.svgrepo.com/show/535491/map.svg');
  }

  .folder-mito-da-criação .folder-icon {
    background-image: url('https://www.svgrepo.com/show/480272/harp-3.svg');
  }
</style>

<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
